
/* Add a black background colour to the top navigation bar */
.topnav {
  border-radius: 25px;
  background-color: rgb(66, 60, 100);
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Style the links inside the top navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the colour of the links on hover */
topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add a colour to the active link */
.topnav a.active {
  background-color: #1a4c28;
  color: white;
}

body {
  background-color: #201f1c;
}

.topnav a.split {
  float: right;
  background-color: #1a4c28;
  color: white;
}

.headliner {
  font-size: 62px;
  font-family: 'brush script MT', cursive;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mainFont {
  font-family: 'brush script MT', cursive;
  font-size: 32px;
  text-align: center;
}

main {
  border-radius: 25px;
  margin: 50px;
  background-color: #fefae6;
}

.mainFont {
  margin: 80px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}



/* Create two columns/boxes that floats next to each other */
.elf {
  border-radius: 25px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
}

section {
  display: -webkit-flex;
  display: flex;
}

/* Style the content */
.articleRight {
  border-radius: 25px;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #fee7e7;
  padding: 10px;
  margin-top: 200px;
  margin-bottom: 400px;
  margin-left: 50px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.container {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}


#snowman {
  margin-left: 150px;
  margin-top: 100px;
}
